<!--访问量-->
<div class="admin-content" id="visitor-manager">
    <div class="admin-content-body">
        <div>
            <div><strong class="part-title">访问管理</strong>
                <span>---当日访问量{{visitorService.dayVisit}}</span>
            </div>
        </div>

        <div class="g">
            <div class="scrollable-horizontal" *ngIf="visitorService.currentPage">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>ip地址</th>
                        <th>访问日期</th>
                        <th>浏览器类型</th>
                        <th>系统</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let visitor of visitorService.currentPage.list">
                        <td>{{visitor.id}}</td>
                        <td>
                            <span (mouseenter)="getIp(visitor.ip)" [title]="location">{{visitor.ip}}</span>
                            <i nz-icon nzType="smile" nzTheme="twotone" nzTwotoneColor="#00DC25"
                               *ngIf="visitor.ip==localIp" style="float: right;clear: both" title="您的访问记录"></i>
                        </td>
                        <td>{{visitor.date}}</td>
                        <td style="text-align: center" [title]="visitor.browserVersion">
                            <span *ngIf="visitor.browserName!='Unknown'"> {{visitor.browserName}}</span>
                        </td>
                        <td>
                            <span *ngIf="visitor.osname!='Unknown' "> {{visitor.osname}}</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <nz-pagination align="center " [nzPageIndex]="pageNum " [nzHideOnSinglePage]="true "
                               [nzTotal]="visitorService.currentPage.total " [nzPageSize]="pageSize "
                               (nzPageIndexChange)="toPage($event) "></nz-pagination>
            </div>
        </div>


    </div>
</div>
