div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
hgroup,
menu,
button,
input,
textarea {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Microsoft Yahei', '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana
}

.error404 {
    width: 1100px;
    height: 460px;
    background: url(../../../assets/img/404.jpg) 50px;
    background-size: 100% 100%;
    margin: 3px auto 0
}

a {
    color: #00c0ff !important;
}

.wenzi {
    padding-top: 326px;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 26px;
    color: #686e6e
}

.wenzi {
    height: 56px;
    line-height: 56px;
    color: #888888;
    display: block;
    border-bottom: 1px solid #d0cfcf
}

.wenzi_2 span {
    color: #319898;
    font-size: 30px;
    font-weight: bold;
    font-style: italic
}

@media only screen and (max-width:768px) {
    .error404 {
        width: 100%;
        background: url(../../../assets/img/404-m.jpg) -10px;
    }
}