<div class="container">


  <h2 *ngIf="!articleService.currentPage" style="width: 100%;text-align: center">.暂时还未发布文章.</h2>

  <div class="right" *ngIf="articleService.currentPage">
    <nz-card class="article am-animation-slide-right" *ngFor="let article of articleService.currentPage.list"
             [nzLoading]="!articleService.currentPage">

      <a [routerLink]="'/article/'+article.id"><h2 class="aTitle">{{article.title}}</h2></a>
      <ul class="aUl">
        <li>
          <span class="aType" [ngClass]="{'aTypeOriginal': article.original,'aTypeReprint':!article.original}">
            {{article.original ? "原创" : "转载"}}
          </span>
        </li>
        <li><i nz-icon nzType="calendar" nzTheme="outline"></i>{{article.publishDateFormat}}</li>
        <li><i nz-icon nzType="user" nzTheme="outline"></i>{{article.authorName}}</li>
        <li>
          <i nz-icon nzType="folder" nzTheme="outline"></i>
          <a [routerLink]="['/category']" [queryParams]="{'name':article.category}">{{article.category}}</a>
        </li>
      </ul>
      <div class="aSummary">
        <p>{{article.summary}}</p>
      </div>
      <a [routerLink]="'/article/'+article.id" style="font-size: 1.2em;">
        阅读全文
        <i nz-icon nzType="double-right" nzTheme="outline"></i>
      </a>
      <hr>
      <div class="tags">
                <span *ngFor="let item of article.tags">
                    <i nz-icon nzType="tag" nzTheme="outline"></i>&nbsp;
                    <a [routerLink]="['/tag']" [queryParams]="{name:item}">{{item}}</a>&nbsp;&nbsp;
                </span>
      </div>
    </nz-card>

    <nz-pagination id="pagination" [nzPageIndex]="pageNum" [nzTotal]="articleService.currentPage.total"
                   [nzPageSize]="pageSize"
                   [nzHideOnSinglePage]="true" (nzPageIndexChange)="getPageArticle($event)"></nz-pagination>
  </div>

  <div class="left">
    <!-- 关于我 -->
    <div class="main am-animation-slide-left" id="bloger">
      <span class="title">关于我</span>
      <hr>
      <div style="text-align: center;">
        <div class="am-center" align="center">
          <img [src]="imagePath" width="100px" height="100px" alt="logo">
          <h2>小海</h2>
        </div>
        <div class="about-desc">
          <span>一个爱好瞎捣鼓的技术宅 : )</span>
        </div>
        <div class="about-contact">
          <button class="about-contact-icon" (mouseenter)="showWxImg()" (mouseleave)="reset()">
            <i nz-icon nzType="wechat" nzTheme="outline"></i>
          </button>
          <button class="about-contact-icon" (mouseenter)="showQQImg()" (mouseleave)="reset()">
            <i nz-icon nzType="qq" nzTheme="outline"></i>
          </button>
          <a href="https://github.com/xiaohai2271">
            <button class="about-contact-icon">
              <i nz-icon nzType="github" nzTheme="outline"></i>
            </button>
          </a>
        </div>
      </div>
    </div>


    <!-- 标签云 -->
    <div class="main am-animation-slide-left">
      <span class="title">标签云</span>
      <hr>
      <div style="margin: 10px;">
        <span *ngIf="!tagService.tagCloudList">暂无标签</span>
        <div *ngIf="tagService.tagCloudList">
          <a *ngFor="let item of tagService.tagCloudList" style="max-width: 90%;word-break: break-all;margin: 0 4px;"
             [routerLink]="['/tag']" [queryParams]="{name:item.name}">
            <font [size]="item.size+1" [nzTitle]="item.name" nzPlacement="topCenter" nz-tooltip>{{item.name}}</font>
          </a>
        </div>
      </div>
    </div>


    <!-- 网站信息 -->
    <div class="main am-animation-slide-left">
      <span class="title">网站信息</span>
      <hr>
      <div style="margin: 15px;" *ngIf="countService.count">
        <ul class="countInfo">
          <li><i nz-icon nzType="file" nzTheme="outline"></i><span>文章总数</span>：{{countService.count.articleCount}} 篇
          </li>
          <li><i nz-icon nzType="tags" nzTheme="outline"></i><span>标签总数</span>：{{countService.count.tagCount}} 个
          </li>
          <li><i nz-icon nzType="profile" nzTheme="outline"></i><span>留言总数</span>：{{countService.count.leaveMsgCount}} 条
          </li>
          <li><i nz-icon nzType="message" nzTheme="outline"></i><span>评论总数</span>：{{countService.count.commentCount}} 条
          </li>
          <li><i nz-icon nzType="eye" nzTheme="outline"></i><span>总访客量</span>：{{countService.count.visitorCount}} 条
          </li>
          <li><i nz-icon nzType="arrow-up" nzTheme="outline"></i><span>最后更新</span>：<span
            class="siteUpdateTime">{{webUpdateService.lastestUpdateTime}}</span></li>
        </ul>
      </div>
      <div *ngIf="!countService.count" style="margin-left: 15px;">暂无更多信息</div>
    </div>

  </div>
</div>
