<div class="main">
  <div class="main-content">
    <form>
      <h1 style="text-align: center"><strong>小海</strong></h1>
      <label for="email">邮箱:</label>
      <br>
      <input type="email" name="email" id="email" value="" [(ngModel)]="submitBody.email">
      <br>
      <label for="password">密码:</label>
      <br>
      <input type="password" name="password" id="password" value="" [(ngModel)]="submitBody.password">
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox" name="isRemember" [(ngModel)]="submitBody.isRememberMe">
        记住密码
      </label>
      <div class="br-text">
        <p>
          <span>还没有账号?</span>
          <a style="color: blue" (click)="userService.showModal('registration')">注册</a>
        </p>
      </div>
      <br/>
      <div>
        <button type="submit" (click)="doLogin()" class="btn login">登 录</button>
        <button type="button" class="btn forget" (click)="showForgetPwd=!showForgetPwd">忘记密码 ^_^?</button>
      </div>
    </form>
  </div>
</div>

<nz-modal [(nzVisible)]="showForgetPwd" nzTitle="重置密码" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <input type="email" nz-input placeholder="注册的邮箱" [(ngModel)]="email4Forgot"/>
</nz-modal>
