<div id="app">
  <!--页面主体-->
  <div id="main">
    <div class="container">


      <div class="site-inner">

        <div class="site-inner-img">

          <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/sun.jpg" class="am-img-thumbnail">
        </div>

        <div class="site-inner-mywords">
          <br>
          <div class="word">
            过自己喜欢的生活，<br><br>
            <p>做自己喜欢的人</p><br>
            <p>不以物喜</p>
            <p>不以己悲</p>
          </div>
          <br>
        </div>

      </div>

      <div class="zh-update">
        <div class="zh-update-log">
          <div class="zh-update-log-title">
            <h1>更新日志</h1>
            <p>最后更新于 {{updateService.lastestUpdateTime}}</p>
          </div>
          <div class="zh-update-log-content">


            <div class="update-log am-animation-slide-bottom" *ngFor="let update of updateService.updateInfoList">
              <div class="update-log-date">
                <i nz-icon nzType="star" nzTheme="twotone" nzTwotoneColor="#eb2f96" class="titleTag"></i>
                <h2>{{update.time}}</h2>
              </div>
              <div class="update-log-content">
                <blockquote>
                  <p *ngFor="let item of update.info.split('\n')">{{item}}</p>
                </blockquote>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>

</div>
