<div class="site-middle am-animation-slide-top">
    <div class="title">
        <i nz-icon nzType="smile" nzTheme="outline" class="titleTag"></i><span class="title">友情链接</span>
    </div>
    <ul class="partner-sites">
        <li *ngFor="let link of linkList;let i = index" [style.background]="colors[i].bgColor"
            [style.color]="colors[i].fontColor">
            <a [href]="link.url" target="_blank" [title]="link.desc||link.name" [style.color]="colors[i].fontColor">
                <div class="link-name">
                    <i nz-icon nzType="link" nzTheme="outline" [style.color]="colors[i].fontColor"></i>
                    {{link.name}}
                </div>
                <div class="link-info" [style.color]="colors[i].fontColor">
                    <div class="link-icon">
                        <img *ngIf="link.iconPath" [src]="link.iconPath" [alt]="link.iconPath">
                        <i *ngIf="!link.iconPath" nz-icon nzType="link" nzTheme="outline"
                           [style.color]="colors[i].fontColor"></i>
                    </div>
                    <p>
                        {{link.desc || '该站长暂时未留下网站简介'}}
                    </p>
                </div>
            </a>
        </li>
        <li class="applylink" (click)="showModal=!showModal">申请友链</li>
    </ul>
</div>

<div class="placard am-animation-slide-bottom">
    <div class="title">
        <i nz-icon nzType="smile" nzTheme="outline" class="titleTag"></i><span class="title">友链公告</span>
    </div>
    <br>
    <p style="padding-left: 30px;">
        <i class="fa fa-check" style="color: green"></i>原创优先&nbsp;
        <i class="fa fa-check" style="color: green"></i>技术优先&nbsp;
        <i class="fa fa-close" style="color: red"></i>经常宕机&nbsp;
        <i class="fa fa-close" style="color: red"></i>不合法规&nbsp;
        <i class="fa fa-close" style="color: red"></i>插边球站&nbsp;
        <i class="fa fa-close" style="color: red"></i>红标报毒&nbsp;
    </p>
    <ul class="placard-content">
        <li>请确认贵站可正常访问</li>
        <li>原创博客、技术博客、游记博客优先</li>
        <li>交换友链请先在您的网站添加本站链接</li>
        <p style="margin: 20px;">
            本站信息 <br>
            名称：小海博客<br>
            网址：https://www.celess.cn/<br>
            图标：https://www.celess.cn/logo.ico<br>
            描述：小海博客，记录学习成长历程,主要关注与java后端的技术学习
        </p>
        <li>本站的友链申请会自动进行抓取，并在12h内进行审核</li>

    </ul>
</div>

<nz-modal [(nzVisible)]="showModal" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
          (nzOnCancel)="cancel()" nzWidth="650">
    <ng-template #modalTitle>
        <h2 style="text-align: center">申请友链</h2>
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="applyFormGroup">
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>网站名称</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="nameErrTip">
                    <input nz-input formControlName="name">
                    <ng-template #nameErrTip>
                        <div *ngIf="applyFormGroup.controls.name.hasError('required')">网站名称不可为空</div>
                        <div *ngIf="applyFormGroup.controls.name.hasError('maxlength')">最大长度为255</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>站长邮箱</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="emailErrTip">
                    <input nz-input formControlName="email">
                    <ng-template #emailErrTip>
                        <div *ngIf="applyFormGroup.controls.email.hasError('required')">站长邮箱不可为空</div>
                        <div *ngIf="applyFormGroup.controls.email.hasError('pattern')">邮箱格式不正确</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>首页链接</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="urlErrTip">
                    <nz-input-group [nzAddOnBefore]="protocol" nzCompact>
                        <ng-template #protocol>
                            <nz-select formControlName="urlProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input nz-input formControlName="url">
                        <ng-template #urlErrTip>
                            <div *ngIf="applyFormGroup.controls.url.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.url.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>友链页链接</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="urlLinkErrTip">
                    <nz-input-group [nzAddOnBefore]="protocol">
                        <ng-template #protocol>
                            <nz-select formControlName="urlLinkProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input nz-input formControlName="linkUrl">
                        <ng-template #urlLinkErrTip>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站图标</nz-form-label>
                <nz-form-control nzFlex="auto" nzErrorTip="链接格式不正确">
                    <nz-input-group [nzSuffix]="icon" nzSize="large">
                        <input nz-input formControlName="iconPath">
                    </nz-input-group>
                    <ng-template #icon>
                        <img style="width: 25px;height: 25px" *ngIf="applyFormGroup.value.iconPath"
                             [src]="applyFormGroup.value.iconPath" alt="icon">
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站描述</nz-form-label>
                <nz-form-control nzFlex="auto" nzErrorTip="可输入最大文字长度为255">
                    <textarea nz-input formControlName="desc" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button (click)="cancel()">取消</button>
        <button nz-button nzType="primary" (click)="apply()" [disabled]="!applyFormGroup.valid" [nzLoading]="loading">
            提交
        </button>
    </ng-template>
</nz-modal>
