<div class="site-middle am-animation-slide-top">
    <div class="title">
        <i class="titleTag" nz-icon nzTheme="outline" nzType="smile"></i><span class="title">友情链接</span>
    </div>
    <ul class="partner-sites">
        <li *ngFor="let link of linkList;let i = index" [style.background]="colors[i].bgColor"
            [style.color]="colors[i].fontColor">
            <a [href]="link.url" [style.color]="colors[i].fontColor" [title]="link.desc||link.name" target="_blank">
                <div class="link-name">
                    <i [style.color]="colors[i].fontColor" nz-icon nzTheme="outline" nzType="link"></i>
                    {{link.name}}
                </div>
                <div [style.color]="colors[i].fontColor" class="link-info">
                    <div class="link-icon">
                        <img *ngIf="link.iconPath" [alt]="link.iconPath" [src]="link.iconPath">
                        <i *ngIf="!link.iconPath" [style.color]="colors[i].fontColor" nz-icon nzTheme="outline"
                           nzType="link"></i>
                    </div>
                    <p>
                        {{link.desc || '该站长暂时未留下网站简介'}}
                    </p>
                </div>
            </a>
        </li>
        <li (click)="showModal=!showModal" class="applylink">申请友链</li>
    </ul>
</div>

<div class="placard am-animation-slide-bottom">
    <div class="title">
        <i class="titleTag" nz-icon nzTheme="outline" nzType="smile"></i><span class="title">友链公告</span>
    </div>
    <br>
    <p style="padding-left: 30px;">
        ✔ 原创优先&nbsp;&nbsp;✔ 技术优先&nbsp;&nbsp;❌ 经常宕机&nbsp;&nbsp;❌ 不合法规&nbsp;&nbsp;❌ 插边球站&nbsp;&nbsp;❌ 红标报毒&nbsp;
    </p>
    <ul class="placard-content">
        <li>请确认贵站可正常访问</li>
        <li>原创博客、技术博客、游记博客优先</li>
        <li>交换友链请先在您的网站添加本站链接</li>
        <p style="margin: 20px;">
            本站信息 <br>
            名称：小海博客<br>
            网址：https://www.celess.cn/<br>
            图标：https://www.celess.cn/assets/logo.jpg<br>
            描述：小海博客，记录学习成长历程,主要关注与java后端的技术学习
        </p>
        <li>本站的友链申请会自动进行抓取，并在12h内进行审核</li>

    </ul>
</div>

<nz-modal (nzOnCancel)="cancel()" [(nzVisible)]="showModal" [nzContent]="modalContent" [nzFooter]="modalFooter"
          [nzTitle]="modalTitle" nzWidth="650">
    <ng-template #modalTitle>
        <h2 style="text-align: center">申请友链</h2>
    </ng-template>

    <ng-template #modalContent>
        <form [formGroup]="applyFormGroup" nz-form>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>网站名称</nz-form-label>
                <nz-form-control [nzErrorTip]="nameErrTip" nzFlex="auto">
                    <input formControlName="name" nz-input>
                    <ng-template #nameErrTip>
                        <div *ngIf="applyFormGroup.controls.name.hasError('required')">网站名称不可为空</div>
                        <div *ngIf="applyFormGroup.controls.name.hasError('maxlength')">最大长度为255</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>站长邮箱</nz-form-label>
                <nz-form-control [nzErrorTip]="emailErrTip" nzFlex="auto">
                    <input formControlName="email" nz-input>
                    <ng-template #emailErrTip>
                        <div *ngIf="applyFormGroup.controls.email.hasError('required')">站长邮箱不可为空</div>
                        <div *ngIf="applyFormGroup.controls.email.hasError('pattern')">邮箱格式不正确</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>首页链接</nz-form-label>
                <nz-form-control [nzErrorTip]="urlErrTip" nzFlex="auto">
                    <nz-input-group [nzAddOnBefore]="protocol" nzCompact>
                        <ng-template #protocol>
                            <nz-select formControlName="urlProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="url" nz-input>
                        <ng-template #urlErrTip>
                            <div *ngIf="applyFormGroup.controls.url.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.url.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>友链页链接</nz-form-label>
                <nz-form-control [nzErrorTip]="urlLinkErrTip" nzFlex="auto">
                    <nz-input-group [nzAddOnBefore]="protocol">
                        <ng-template #protocol>
                            <nz-select formControlName="urlLinkProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input formControlName="linkUrl" nz-input>
                        <ng-template #urlLinkErrTip>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站图标</nz-form-label>
                <nz-form-control nzErrorTip="链接格式不正确" nzFlex="auto">
                    <nz-input-group [nzSuffix]="icon" nzSize="large">
                        <input formControlName="iconPath" nz-input>
                    </nz-input-group>
                    <ng-template #icon>
                        <img *ngIf="applyFormGroup.value.iconPath" [src]="applyFormGroup.value.iconPath"
                             alt="icon" style="width: 25px;height: 25px">
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站描述</nz-form-label>
                <nz-form-control nzErrorTip="可输入最大文字长度为255" nzFlex="auto">
                    <textarea [nzAutosize]="{ minRows: 2, maxRows: 6 }" formControlName="desc" nz-input></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button (click)="cancel()" nz-button>取消</button>
        <button (click)="apply()" [disabled]="!applyFormGroup.valid" [nzLoading]="loading" nz-button nzType="primary">
            提交
        </button>
    </ng-template>
</nz-modal>
