<div class="site-middle am-animation-slide-top">
    <div class="title">
        <i nz-icon nzType="smile" nzTheme="outline" class="titleTag"></i><span class="title">友情链接</span>
    </div>
    <ul class="partner-sites">
        <li *ngFor="let link of linkList">
            <i nz-icon nzType="link" nzTheme="outline"></i>
            <a [href]="link.url" target="_blank" [title]="link.name">{{link.name}}</a>
        </li>
        <li class="applylink" (click)="showModal=!showModal">申请友链</li>
    </ul>


</div>
<div class="placard am-animation-slide-bottom">
    <div class="title">
        <i nz-icon nzType="smile" nzTheme="outline" class="titleTag"></i><span class="title">友链公告</span>
    </div>
    <ul class="placard-content">
        <li>请确认贵站可正常访问</li>
        <li>原创博客、技术博客、游记博客优先</li>
        <li>博客内容时常更新</li>
        <li><strong>提交申请时若为https链接请带上https否则将视为http</strong></li>
    </ul>
</div>

<nz-modal [(nzVisible)]="showModal" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
          (nzOnCancel)="cancel()" nzWidth="650">
    <ng-template #modalTitle>
        <h2 style="text-align: center">申请友链</h2>
    </ng-template>

    <ng-template #modalContent>
        <form nz-form [formGroup]="applyFormGroup">
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>网站名称</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="nameErrTip">
                    <input nz-input formControlName="name">
                    <ng-template #nameErrTip>
                        <div *ngIf="applyFormGroup.controls.name.hasError('required')">网站名称不可为空</div>
                        <div *ngIf="applyFormGroup.controls.name.hasError('maxlength')">最大长度为255</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>站长邮箱</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="emailErrTip">
                    <input nz-input formControlName="email">
                    <ng-template #emailErrTip>
                        <div *ngIf="applyFormGroup.controls.email.hasError('required')">站长邮箱不可为空</div>
                        <div *ngIf="applyFormGroup.controls.email.hasError('pattern')">邮箱格式不正确</div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>首页链接</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="urlErrTip">
                    <nz-input-group [nzAddOnBefore]="protocol" nzCompact>
                        <ng-template #protocol>
                            <nz-select formControlName="urlProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input nz-input formControlName="url">
                        <ng-template #urlErrTip>
                            <div *ngIf="applyFormGroup.controls.url.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.url.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px" nzRequired>友链页链接</nz-form-label>
                <nz-form-control nzFlex="auto" [nzErrorTip]="urlLinkErrTip">
                    <nz-input-group [nzAddOnBefore]="protocol">
                        <ng-template #protocol>
                            <nz-select formControlName="urlLinkProtocol">
                                <nz-option nzLabel="Http://" nzValue="http://"></nz-option>
                                <nz-option nzLabel="Https://" nzValue="https://"></nz-option>
                            </nz-select>
                        </ng-template>
                        <input nz-input formControlName="linkUrl">
                        <ng-template #urlLinkErrTip>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('required')">首页链接不可为空</div>
                            <div *ngIf="applyFormGroup.controls.linkUrl.hasError('pattern')">链接格式不正确</div>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站图标</nz-form-label>
                <nz-form-control nzFlex="auto" nzErrorTip="链接格式不正确">
                    <input nz-input formControlName="iconPath">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFlex="100px">网站描述</nz-form-label>
                <nz-form-control nzFlex="auto" nzErrorTip="可输入最大文字长度为255">
                    <textarea nz-input formControlName="desc" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button (click)="cancel()">取消</button>
        <button nz-button nzType="primary" (click)="apply()" [disabled]="!applyFormGroup.valid" [nzLoading]="loading">
            提交
        </button>
    </ng-template>
</nz-modal>
