<common-table #commonTableComponent
              [headData]="headData"
              [request]="request"
              [template]="{
                    original:{temp:original,param:{true:'原创',false:'转载'}},
                    readingNumber:{temp:readingNumber},
                    likeCount:{temp:likeCount},
                    dislikeCount:{temp:dislikeCount},
                    open:{temp:open}
                }"
              cardTitle="文章管理">
</common-table>

<ng-template #original let-originValue="originValue" let-value="value">
    <nz-tag [nzColor]="originValue?'green':'#ff5500'">{{value}}</nz-tag>
</ng-template>

<ng-template #readingNumber let-value="value">
    <nz-tag nzColor="purple">{{value}}</nz-tag>
</ng-template>

<ng-template #likeCount let-value="value">
    <nz-tag nzColor="blue">{{value}}</nz-tag>
</ng-template>

<ng-template #dislikeCount let-value="value">
    <nz-tag nzColor="magenta">{{value}}</nz-tag>
</ng-template>

<ng-template #open let-value="value">
    <label [ngModel]="value" nz-checkbox nzDisabled></label>
</ng-template>
