<common-table cardTitle="文章管理"
                #commonTableComponent
                [data]="headData"
                [request]="request"
                [template]="{
                    original:{temp:original,param:{true:'原创',false:'转载'}},
                    readingNumber:{temp:readingNumber},
                    likeCount:{temp:likeCount},
                    dislikeCount:{temp:dislikeCount},
                    open:{temp:open}
                }">
</common-table>

<ng-template let-value="value" let-originValue="originValue" #original>
    <nz-tag [nzColor]="originValue?'green':'#ff5500'">{{value}}</nz-tag>
</ng-template>

<ng-template let-value="value" #readingNumber>
    <nz-tag nzColor="purple">{{value}}</nz-tag>
</ng-template>

<ng-template let-value="value" #likeCount>
    <nz-tag nzColor="blue">{{value}}</nz-tag>
</ng-template>

<ng-template let-value="value" #dislikeCount>
    <nz-tag nzColor="magenta">{{value}}</nz-tag>
</ng-template>

<ng-template #open let-value="value">
    <label nz-checkbox nzDisabled [ngModel]="value"></label>
</ng-template>
