<div id="app">
    <!--页面主体-->
    <div id="main">
        <div class="container">
            <div class="zh-update">
                <div class="zh-update-log">
                    <div class="zh-update-log-title">
                        <h1>更新日志</h1>
                        <p>最后更新于 {{lastUpdateTime}}</p>
                    </div>
                    <div class="zh-update-log-content">


                        <div class="update-log am-animation-slide-bottom" *ngFor="let update of webUpdate">
                            <div class="update-log-date">
                                <h2><span style="font-size: x-large"># </span> {{update.time}}</h2>
                            </div>
                            <div class="update-log-content">
                                <blockquote>
                                    <p *ngFor="let item of update.info.split('\n')">{{item}}</p>
                                </blockquote>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>