<div id="main">

  <div id="category">
    <ul *ngIf="categoryService.categories">
      <li *ngFor="let category of categoryService.categories" (click)="changeCategory(category.name)">
        <span class="singleTag" [ngClass]="{active:currentCategoryName==category.name}"
              [nzTitle]="'此分类有'+(category.articles.split(',').length-1)+'篇文章'" nzPlacement="topCenter" nz-tooltip>
          <i nz-icon nzType="folder" nzTheme="fill"></i> {{category.name}}</span></li>
    </ul>
    <h2 *ngIf="!categoryService.categories">暂时没有分类</h2>
  </div>

  <ul id="detail" *ngIf="currentArticleList">
    <li *ngFor="let article of currentArticleList.list">
      <div class="art">
        <h2><a [routerLink]="'/article/'+article.id" class="title">{{article.title}}</a></h2>
        <hr>
        <div> {{article.summary}}</div>
      </div>
    </li>
  </ul>
  <div *ngIf="!currentArticleList">
    <h2 style="text-align: center">该分类暂无文章</h2>
  </div>
</div>
