<div>
  <div class="main">
    <div class="ioc_text">
      <h1><strong>小海</strong></h1>
    </div>
    <form>
      <div class="remain">
        <div class="input-group mb-4 bootint" id="username">
          <!-- <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div> -->
          <input type="text" name="email" class="form-control" placeholder="请输入你的邮箱" [(ngModel)]="email">
        </div>

        <div class="input-group mb-4 bootint" id="password">
          <!-- <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-unlock-alt"></i></span>
              </div> -->
          <input type="password" name="password" class="form-control" placeholder="请输入你要设置的密码（8位以上）"
                 [(ngModel)]="password">
        </div>

        <div class="input-group mb-4 bootint" id="repassword">
          <input type="password" name="repaassword" class="form-control" placeholder="请再次输入密码" [(ngModel)]="rePassword">
          <i nz-icon class="verStatus" [hidden]="rePassword==null" [nzType]="password==rePassword?'check-circle':'close-circle'" nzTheme="outline"></i>
        </div>

        <div class="input-group">
          <input type="text" name="code" placeholder="验证码" (blur)="handleKeyUp()" [(ngModel)]="imgCode"
                 class="form-control" style="width: 60%;" id="verifyImgCode">
          <i nz-icon class="verStatus" [hidden]="imgCode==''" [nzType]="imgCodeStatus?'check-circle':'close-circle'" nzTheme="outline"></i>
          <img [src]="imgCodeUrl" (click)="changeImg()" alt="Code" title="点击更换验证码"/>
        </div>

        <div class="br-text">
          <p>
            <span>已有账号了?</span>
            <a (click)="userService.showModal('login')">登录</a>
          </p>
        </div>

        <div style="padding-top: 10px">
          <button type="submit" class="btn" (click)="doRegistration()">注册</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="fullS" *ngIf="show">
  <nz-spin [nzSpinning]="show" class="loading">
    <div class="loading">
      <span>加载中..</span>
    </div>
  </nz-spin>
</div>
