/* markdown   Css style  */

* {
  margin: 0;
  padding: 0;
}

.list-group li {
  /*  margin-top: 10px;*/
  list-style: none;
}

h2 {
  margin: 0;
}

hr {
  margin: 10px 0;
}

.arUl {
  text-align: center;
  margin: 0;
  padding: 0;
}

.arUl li {
  margin-right: 12px;
  display: inline;
}

.arUl li i {
  margin-right: 5px;
}

.arTypeOriginal {
  background: #5eb95e;
}

.arTypeReprint {
  background: #F37B1D;
}

.arType {
  color: #ffffff;
  font-size: 0.8em;
  padding: 2px 6px;
  border-radius: 5px;
}

.article-titlea {
  font-size: 150%;
}

.article-meta {
  width: 100%;
  float: left;
}

.article-meta a {
  color: #666666;
}

.article-road {
  margin-left: 2%;
}

.secd {
  margin-left: 30%;
}

#title {
  word-break: break-all;
  border: none;
  padding: 0;
  font-size: 2em;
  margin: 0;
}

.article-text {
  word-break: break-all
}

.article-tag {
  margin-left: 5%;
}


/*文章底部的tag标签*/

.tag {
  color: #666666;
}

.article-bAnda {
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.articlePublishDate,
.originalAuthor,
.categories {
  display: inline-block;
}

.article-input-textarea {
  border-color: #aaaaaa;
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  max-height: 700px;
  padding: 5px;
}

.comment-submit {
  float: right;
  color: white;
  background: #3bb4f2;
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  margin-top: 20px;
}

.comment-list {
  margin: 50px 10% 20px;
}

.comment-input {
  border-color: #ececec;
  border-width: 1px;
  outline: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 21px;
  padding-left: 5px;
}

.article-comment {
  margin: 0 10%;
}

.comment-input-coverText {
  text-align: center;
  background-color: white;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.input-area {
  padding-top: 30px;
}

.buttonDisable {
  pointer-events: none
}

.articleButton {
  background: none;
  border: none;
  user-select: none;
}

.articleButton:hover {
  cursor: pointer;
}

.commentUser {
  background: #5eb95e;
  padding: 3px 8px;
  border-radius: 3px;
  color: white
}

.commentItem {
  margin-top: 7px;
}

.loading {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
}

.loading img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#pagination {
  text-align: center
}

.tag {
  margin-right: 10px;
}

.tag i {
  margin-right: 5px;
}

.article-last,
.article-next {
  display: block;
}

#over {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  margin: 15px auto;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  background: #3bb4f2;
  color: white
}

#copyright {
  width: 90%;
  margin: 15px 5%;
  border-left: 5px solid #FF1700;
  padding: 10px;
  background: #ececec
}

p {
  margin-bottom: 0
}

.comment {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 10px;
}

#content {
  overflow-y: hidden;
}

#content p {
  word-break: break-all
}

button {
  padding-left: 8px;
  padding-right: 8px;
}

textarea {
  padding: 8px;
}

#content {
  padding: 0 5%;
}

.noToc{
  width: 65% !important;
  margin: 0 auto !important;
  height: auto;
  position: static !important;
  border-radius: 10px;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {

  .article-content {
    left: 400px;
    width: auto;
    height: auto;
    margin-right: 500px;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
  }

  .article-toc-main{
    border-radius: 10px;
    background: #fff;
    position: fixed;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
    padding: 10px;
  }

  #article-toc{
    max-height: 700px;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 768px) {
  .article-content {
    width: 100%;
    margin-top: -80px;
    padding-top: 60px;
    margin-right:0;
    border-radius: 0;
    margin-left: 0!important;
  }

  #content {
    padding: 0 8px;
  }

  .article-toc-main{
    position:relative;
    padding: 10px;
    background: #fff;
  }
  .noToc{
    width: 100% !important;
  }

}
