<div id="header" nz-row [class.containBg]="size =='large'">
    <div id="header-logo-title" nz-col nzSpan="6">
        <img src="https://56462271.oss-cn-beijing.aliyuncs.com/web/logo.jpg"
             alt="logo" id="logo">
        <span id="header-title"><a routerLink="/">小海博客</a></span>
    </div>
    <ul id="nav" nz-col nzSpan="12" [ngStyle]="{'display':showList?'block':'none'}">
        <ng-template *ngFor="let item of pageList" [ngIf]="item.show">
            <li (click)="dealLink(item.path)" style="user-select: none;cursor: pointer">
                <i nz-icon [nzType]="item.icon" [nzTheme]="item.iconType"></i>
                {{item.name}}
            </li>
        </ng-template>
    </ul>
    <div id="header-user-login" *ngIf="!userInfo">
        <button nz-button nzType="primary" (click)="login()">登录</button>
        <button nz-button nzType="primary" (click)="registration()">注册</button>
    </div>
    <div *ngIf="userInfo" id="info">
        <img [src]="userInfo.avatarImgUrl" alt="avatar" id="avatar">
        <button nz-button nzType="link" class="info-name"
                nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" nzTrigger="click">
            {{userInfo.displayName}}<i nz-icon nzType="caret-down" nzTheme="outline"></i>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="toAdminPage()"><i nz-icon nzType="info-circle" nzTheme="outline"></i>管理后台</li>
                <hr style="opacity: 0.5">
                <li nz-menu-item (click)="logout()"><i nz-icon nzType="logout" nzTheme="outline"></i>注销登录</li>
            </ul>
        </nz-dropdown-menu>
    </div>
    <button id="header-menu" nz-button [style.top.px]="size=='large'?25:10" (click)="changeMenuStatus()">
        <i nz-icon [nzType]="showList?'arrow-left':'menu'" nzTheme="outline"></i>
    </button>
</div>
