<div class="inner-content">
    <nz-card nzSize="small" nzTitle="">
        <nz-tabset [nzTabBarExtraContent]="reload">
            <nz-tab (nzClick)="tabChanged('tag')" nzTitle="分类管理">
                <div style="margin-bottom: 15px;width: 150px">
                    <editable-tag (valueChange)="addCategory($event)"
                                  [autoClear]="true"
                                  [doubleClick]="false"
                                  [showBorder]="false"
                                  [showEditIcon]="false"
                                  size="default"
                    >
                        <button nz-button>新增</button>
                    </editable-tag>
                </div>
                <common-table #categoryCTComponent
                              [headData]="categoryCTData.headData"
                              [request]="categoryCTData.request"
                              [template]="{name:{temp:nameTemplate}}">
                </common-table>
            </nz-tab>
            <nz-tab (nzClick)="tabChanged('category')" nzTitle="标签管理">
                <common-table #tagCTComponent
                              [headData]="tagCTData.headData"
                              [request]="tagCTData.request"
                              [template]="{name:{temp:nameTemplate}}">
                </common-table>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>
<ng-template #reload>
    <a (click)="getData()" title="刷新"><i nz-icon nzTheme="outline" nzType="reload"></i></a>
</ng-template>

<ng-template #nameTemplate let-data="data" let-value="value">
    <editable-tag #editableTagComponent
                  (modalOK)="textChange($event,data)"
                  [key]="data.id"
                  [showBorder]="false"
                  [showConfirmModal]="true"
                  [text]="value">
    </editable-tag>
</ng-template>
