<div class="inner-content">
    <nz-card nzTitle="" nzSize="small">
        <nz-tabset [nzTabBarExtraContent]="reload">
            <nz-tab nzTitle="分类管理" (nzClick)="tabChanged('tag')">
                <div style="margin-bottom: 15px;width: 150px">
                    <editable-tag [showBorder]="false"
                                  [showEditIcon]="false"
                                  [doubleClick]="false"
                                  size="default"
                                  [autoClear]="true"
                                  (valueChange)="addCategory($event)"
                    >
                        <button nz-button>新增</button>
                    </editable-tag>
                </div>
                <common-table #categoryCTComponent
                              [headData]="categoryCTData.headData"
                              [request]="categoryCTData.request"
                              [template]="{name:{temp:nameTemplate}}">
                </common-table>
            </nz-tab>
            <nz-tab nzTitle="标签管理" (nzClick)="tabChanged('category')">
                <common-table #tagCTComponent
                              [headData]="tagCTData.headData"
                              [request]="tagCTData.request"
                              [template]="{name:{temp:nameTemplate}}">
                </common-table>
            </nz-tab>
        </nz-tabset>
    </nz-card>
</div>
<ng-template #reload>
    <a (click)="getData()" title="刷新"><i nz-icon nzType="reload" nzTheme="outline"></i></a>
</ng-template>

<ng-template #nameTemplate let-value="value" let-data="data">
    <editable-tag #editableTagComponent
                  [key]="data.id"
                  [showBorder]="false"
                  [text]="value"
                  [showConfirmModal]="true"
                  (modalOK)="textChange($event,data)">
    </editable-tag>
</ng-template>
