<common-table [headData]="headData"
              [request]="request"
              [template]="{role:{temp:role},emailStatus:{temp:emailStatus,param:{true:'已验证',false:'未验证'}}}"
              cardTitle="用户信息管理"
>
</common-table>
<ng-template #role let-value="value">
    <nz-tag *ngIf="value == 'admin'" [nzColor]="'blue'">{{value}}</nz-tag>
    <nz-tag *ngIf="value == 'user'" [nzColor]="'purple'">{{value}}</nz-tag>
</ng-template>
<ng-template #emailStatus let-originValue="originValue" let-value="value">
    <nz-tag *ngIf="originValue !='false'" [nzColor]="'green'">{{value}}</nz-tag>
    <nz-tag *ngIf="originValue !='true'" [nzColor]="'red'">{{value}}</nz-tag>
</ng-template>

<nz-modal (nzOnCancel)="modalData.visible = false" (nzOnOk)="modalConfirm()" [(nzVisible)]="modalData.visible"
          [nzClosable]="true" [nzContent]="showContent"
          [nzFooter]="modalData.isEdit?editContentFooter:showContentFooter"
          [nzTitle]="modalData.title">
    <ng-template #showContent>
        <form (ngSubmit)="modalConfirm()" [formGroup]="formGroup" nz-form>
            <nz-form-item>
                <nz-form-label nzRequired nzSpan="4">邮箱</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input [disabled]="!modalData.isEdit" formControlName="email" nz-input
                           type="email">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzSpan="4">昵称</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input [disabled]="!modalData.isEdit" formControlName="displayName" nz-input type="text">
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-label nzRequired nzSpan="4">角色</nz-form-label>
                <nz-form-control nzSpan="18">
                    <nz-select [nzDisabled]="!modalData.isEdit||formGroup.value.id==user.id" formControlName="role">
                        <nz-option nzLabel="admin" nzValue="admin"></nz-option>
                        <nz-option nzLabel="user" nzValue="user"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzRequired nzSpan="4">状态</nz-form-label>
                <nz-form-control nzSpan="18">
                    <nz-radio-group [nzDisabled]="!modalData.isEdit" formControlName="emailStatus">
                        <label [nzValue]="true" nz-radio>邮箱已验证</label>
                        <label [nzValue]="false" nz-radio>邮箱未验证</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="modalData.isEdit">
                <nz-form-label nzSpan="4">密码</nz-form-label>
                <nz-form-control nzSpan="18">
                    <a (click)="modalData.resetPwd = true" *ngIf="!modalData.resetPwd">
                        重设密码<i nz-icon nzTheme="twotone" nzType="edit" style="margin-left: 10px;"></i>
                    </a>
                    <nz-input-group *ngIf="modalData.resetPwd" [nzSuffix]="cancelBtn" nzSize="small">
                        <input [disabled]="!modalData.isEdit" autocomplete="new-password" formControlName="pwd" nz-input
                               type="password">
                        <ng-template #cancelBtn>
                            <button (click)="modalData.resetPwd = false" nz-button nzSize="small" nzType="link">取消
                            </button>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="4">描述</nz-form-label>
                <nz-form-control nzSpan="18">
                    <textarea [disabled]="!modalData.isEdit" [nzAutosize]="{ minRows: 2, maxRows: 4 }" formControlName="desc"
                              nz-input></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #showContentFooter>
        <button (click)="modalData.visible = false" nz-button>关闭</button>
    </ng-template>

    <ng-template #editContentFooter>
        <button (click)="modalData.visible = false" nz-button>取消</button>
        <button (click)="modalConfirm()" nz-button nzType="primary">提交</button>
    </ng-template>

</nz-modal>
