<common-table [headData]="headData"
              [request]="request"
              [template]="{role:{temp:role},emailStatus:{temp:emailStatus,param:{true:'已验证',false:'未验证'}}}"
>
</common-table>
<ng-template let-value="value" #role>
    <nz-tag [nzColor]="'blue'" *ngIf="value == 'admin'">{{value}}</nz-tag>
    <nz-tag [nzColor]="'purple'" *ngIf="value == 'user'">{{value}}</nz-tag>
</ng-template>
<ng-template let-value="value" let-originValue="originValue" #emailStatus>
    <nz-tag [nzColor]="'green'" *ngIf="originValue !='false'">{{value}}</nz-tag>
    <nz-tag [nzColor]="'red'" *ngIf="originValue !='true'">{{value}}</nz-tag>
</ng-template>

<nz-modal [(nzVisible)]="modalData.visible" [nzClosable]="true" [nzTitle]="modalData.title"
          (nzOnCancel)="modalData.visible = false" (nzOnOk)="modalConfirm()"
          [nzFooter]="modalData.isEdit?editContentFooter:showContentFooter"
          [nzContent]="showContent">
    <ng-template #showContent>
        <form nz-form [formGroup]="formGroup" (ngSubmit)="modalConfirm()">
            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>邮箱</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input type="email" nz-input formControlName="email"
                           [disabled]="!modalData.isEdit">
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>昵称</nz-form-label>
                <nz-form-control nzSpan="18">
                    <input type="text" nz-input formControlName="displayName" [disabled]="!modalData.isEdit">
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>角色</nz-form-label>
                <nz-form-control nzSpan="18">
                    <nz-select formControlName="role" [nzDisabled]="!modalData.isEdit||formGroup.value.id==user.id">
                        <nz-option nzValue="admin" nzLabel="admin"></nz-option>
                        <nz-option nzValue="user" nzLabel="user"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="4" nzRequired>状态</nz-form-label>
                <nz-form-control nzSpan="18">
                    <nz-radio-group formControlName="emailStatus" [nzDisabled]="!modalData.isEdit">
                        <label nz-radio [nzValue]="true">邮箱已验证</label>
                        <label nz-radio [nzValue]="false">邮箱未验证</label>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="modalData.isEdit">
                <nz-form-label nzSpan="4">密码</nz-form-label>
                <nz-form-control nzSpan="18">
                    <a *ngIf="!modalData.resetPwd" (click)="modalData.resetPwd = true">
                        重设密码<i nz-icon nzType="edit" nzTheme="twotone" style="margin-left: 10px;"></i>
                    </a>
                    <nz-input-group *ngIf="modalData.resetPwd" [nzSuffix]="cancelBtn" nzSize="small">
                        <input type="password" nz-input formControlName="pwd" autocomplete="new-password"
                               [disabled]="!modalData.isEdit">
                        <ng-template #cancelBtn>
                            <button nz-button (click)="modalData.resetPwd = false" nzSize="small" nzType="link">取消
                            </button>
                        </ng-template>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label nzSpan="4">描述</nz-form-label>
                <nz-form-control nzSpan="18">
                    <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 4 }" formControlName="desc"
                              [disabled]="!modalData.isEdit"></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>

    <ng-template #showContentFooter>
        <button nz-button (click)="modalData.visible = false">关闭</button>
    </ng-template>

    <ng-template #editContentFooter>
        <button nz-button (click)="modalData.visible = false">取消</button>
        <button nz-button (click)="modalConfirm()" nzType="primary">提交</button>
    </ng-template>

</nz-modal>
