
i {
  margin-right: 10px;
  color: royalblue;
}

.title {
  color: #909090
}

.site-middle {
  width: 60%;
  margin: auto;
}

.partner-sites {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.partner-sites li {
  width: 25%;
  margin: 10px 0;
  height: 30px;
  line-height: 30px;
  text-align: center
}

.placard {
  width: 60%;
  margin: 0 auto;
}

.placard-content {
  margin-top: 30px;
  margin-left: 30px;
  border-left: 5px solid #aaa4a4;
  list-style: none;
}

.placard-content li {
  padding-left: 15px;
  font-size: 1.2em;
  margin: 5px 0;
}

.applylink {
  float: right;
  border: none;
  background: white;
  border-radius: 5px;
  width: 150px;
}

.applylink:hover {
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 1.1em;
}

.contentinput {
  margin-left: 8px;
  width: 60%;
  height: 32px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  border: none;
  padding: 5px 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background: #aaa4a4
}

.submit {
  background: #2799FF
}

@media only screen and ( max-width: 768px ) {
  .site-middle, .placard {
    margin-left: 2px;
    width: 96%;
  }

  .partner-sites li {
    float: left;
    width: 100%;
  }
}
