<!--修改信息-->
<div class="admin-content" id="user-info">
    <div class="admin-content-body">
        <div>
            <div><strong class="part-title">个人资料</strong> /
                <small>Personal information</small>
            </div>
        </div>

        <hr/>

        <div id="info">
            <i nz-icon nzType="mail" nzTheme="twotone"></i>
            <input nz-input [(ngModel)]="user.email" style="display: inline" [disabled]="true"/>
            <button *ngIf="!user.emailStatus" nz-button nzType="primary" class="sendEmail" (click)="sendEmail()"
                    [title]="'发生邮件到'+user.email+'中'" [disabled]="!clickable">
                发送激活邮件
            </button>
            <br>
            <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
            <input nz-input type="text" placeholder="用一句话来描述自己吧" name="desc" id="desc" [(ngModel)]="user.desc">
            <br>
            <i nz-icon nzType="crown" nzTheme="twotone"></i>
            <input nz-input type="text" placeholder="昵称" name="displayName" id="displayName"
                   [(ngModel)]="user.displayName">
            <br>
            <button nz-button nzType="primary" nzGhost="true" [nzBlock]="true" (click)="userInfoSubmit()">提交</button>
        </div>

        <div id="avatar">
            <h3><strong>头像</strong></h3>
            <div>
                <img id="avatarimg" [src]="user.avatarImgUrl" alt="avatar">
            </div>
            <div>
                <nz-upload [nzAction]="host+'/user/imgUpload'" nzWithCredentials="true" nzLimit="1" nzSize="2048"
                           (nzChange)="avatarUpload($event)">
                    <button nz-button><i nz-icon nzType="upload"></i><span>选择图片上传</span></button>
                </nz-upload>
            </div>
        </div>


    </div>

</div>
