<div class="admin-content" id="links-manager">
    <div class="admin-content-body">
        <div>
            <strong class="part-title">友链管理</strong>
            <button nz-button nzType="primary" nzGhost="true" style="margin-left: 30px;" (click)="add()">新增</button>
        </div>

        <div>
            <div class=" scrollable-horizontal" *ngIf="linkService.currentPage">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>友链名称</th>
                        <th>友链链接</th>
                        <th>状态</th>
                        <th>管理</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let link of linkService.currentPage.list">
                        <td>{{link.id}}</td>
                        <td class="text-truncate" style="max-width: 150px" [title]="link.name">{{link.name}}</td>
                        <td><a [href]="link.url" target="_blank">{{link.url}}</a></td>
                        <td><input type="checkbox" [checked]="link.open" disabled="disabled"></td>
                        <td>
                            <div class="btn-group">
                                <a (click)="edit(link)">编辑</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a nz-popconfirm nzTitle="是否要删除这条友链?" (nzOnConfirm)="doDel(link.id)">删除</a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    <nz-pagination align="center" [nzPageIndex]="pageNum" [nzHideOnSinglePage]="true"
                                   [nzTotal]="linkService.currentPage.total" [nzPageSize]="pageSize"
                                   (nzPageIndexChange)="toPage($event)"></nz-pagination>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- 带输入框的弹出层 -->
<nz-modal [(nzVisible)]="showPupup" nzTitle="友链编辑" (nzOnCancel)="showPupup=!showPupup" (nzOnOk)="update()">
    <label style="margin-left: 10%;">网站名称:</label>
    <input nz-input style="width: 80%;margin-left: 10%" [(ngModel)]="updateReqBody.name">
    <label style="margin-left: 10%;">网站链接:</label>
    <input nz-input style="width: 80%;margin-left: 10%" [(ngModel)]="updateReqBody.url">
    <label style="margin-left: 10%;">是否公开显示:</label>
    <select [(ngModel)]="updateReqBody.open">
        <option value="">请选择</option>
        <option value="true">显示</option>
        <option value="false">不显示</option>
    </select>

</nz-modal>
