<app-header (loginEvent)="login()" (registrationEvent)="registration()" #headerComponent></app-header>

<router-outlet></router-outlet>

<app-footer></app-footer>


<nz-back-top [nzTemplate]="backToTop"></nz-back-top>

<ng-template #backToTop>
    <button style=" height: 60px;width: 60px;border-radius: 50%;" nz-button title="回到顶部">
        <i nz-icon nzType="rocket" nzTheme="outline"></i>
    </button>
</ng-template>


<nz-modal
        [(nzVisible)]="loginModal" (nzOnCancel)="loginModal = !loginModal"
        [nzContent]="content" [nzFooter]="null" nzWidth="400">
    <ng-template #content>
        <c-login (loginStatus)="loginStatus($event)" [showSendEmail]="false"></c-login>
    </ng-template>
</nz-modal>

<nz-modal
        [(nzVisible)]="regModal" (nzOnCancel)="regModal = !regModal" [nzContent]="content2"
        [nzFooter]="null" nzWidth="400">
    <ng-template #content2>
        <c-registration (regStatus)="regModal = !$event" (regAccount)="cons($event)"></c-registration>
    </ng-template>
</nz-modal>