.modal-mask {
    background: black;
    opacity: 0.4;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.comment {
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 10px;
}
