<div>

  <span *ngIf="!userService.userInfo" style="display: block;text-align: center">
    若要评论，请先<a style="color: blue !important;" (click)="userService.showModal('login')">登录</a>哟~~~~
  </span>
  <nz-comment *ngIf="userService.userInfo" style="width: 60%;margin:15px auto">
    <nz-comment-content>
      <nz-form-item>
        <textarea [(ngModel)]="content" nz-input style="height: 130px;width: 80%;"></textarea>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" [disabled]="!content" (click)="submitComment()">
          评论
        </button>
      </nz-form-item>
    </nz-comment-content>
  </nz-comment>


  <!-- 展示 -->
  <nz-card id="leaveMsgs" [nzLoading]="!leaveMsgService.leaveMsgPage">
    <nz-comment *ngFor="let leaveMsg of leaveMsgService.leaveMsgPage.list; let i = index"
                [nzAuthor]="leaveMsg.authorName"
                [nzDatetime]="leaveMsg.date">
      <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="leaveMsg.authorAvatarImgUrl"></nz-avatar>
      <nz-comment-content class="comment">
        <p>
          {{leaveMsg.content}}
        </p>
      </nz-comment-content>
      <nz-comment-action><span (click)="replyTo(leaveMsg.id,leaveMsg.authorName,i)">
                    <i nz-icon nzType="message" nzTheme="fill"></i> 回复</span>
      </nz-comment-action>

      <!-- 二级评论 -->
      <ng-container *ngIf="leaveMsg.child && leaveMsg.child.length">

        <nz-comment *ngFor="let secLeaveMsg of leaveMsg.child" [nzAuthor]="secLeaveMsg.authorName"
                    [nzDatetime]="secLeaveMsg.date">
          <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="secLeaveMsg.authorAvatarImgUrl"></nz-avatar>
          <nz-comment-content class="comment">
            <p>
              {{secLeaveMsg.content}}
            </p>
          </nz-comment-content>
          <!-- <nz-comment-action><span (click)="replyTo(secLeaveMsg.id,secLeaveMsg.authorName,i)">
                  <i nz-icon nzType="message" nzTheme="fill"></i> 回复</span>
          </nz-comment-action> -->

        </nz-comment>

      </ng-container>
      <!-- 二级评论的回复框 -->
      <nz-comment *ngIf="responseComment.pid!=null&&relyIndex==i">
        <nz-comment>
          <nz-comment-content>
            <nz-form-item>
              <textarea [(ngModel)]="responseComment.content" nz-input
                        style="height: 130px;width: 80%;padding: 10px;border-radius: 5px;"></textarea>
            </nz-form-item>
            <nz-form-item>
              <button nz-button nzType="primary" [disabled]="!responseComment.content"
                      (click)="reply()"> 回复
              </button>
              <button nz-button nzType="default" style="margin-left: 15px;" (click)="responseComment.pid=null"> 取消
              </button>
            </nz-form-item>
          </nz-comment-content>
        </nz-comment>
      </nz-comment>
    </nz-comment>


    <nz-pagination style="text-align: center" [nzPageIndex]="pageNum" [nzTotal]="leaveMsgService.leaveMsgPage.total"
                   [nzPageSize]="pageSize"
                   [nzHideOnSinglePage]="true" (nzPageIndexChange)="toPage($event)"></nz-pagination>


  </nz-card>


</div>
