<div (click)="click()" [nzTooltipTitle]="tag.name"
     class="tag-tag"
     nz-tooltip
     style="cursor: pointer">
    <span [style.background-color]="randColor.bgColor"
          [style.color]="randColor.fontColor"
          [style.font-size]="size=='large'?'large':''"
          [style.padding]="size=='large'?'12px 15px':'5px 7px'"
          class="tag-name"
    >{{tag.name}}
    </span>
    <ng-template [ngIf]="enableCount">
        <span [style.border-color]="randColor.bgColor"
              [style.font-size]="size=='large'?'large':''"
              [style.padding]="size=='large'?'11px 14px':'4px 6px'"
              class="tag-count"
        >{{tag.size}}
         </span>
    </ng-template>
</div>
