<div id="main">

  <div id="tag">
    <ul>
      <li *ngFor="let tag of tagService.tagCloudList" (click)="changeTag(tag.name)">
                <span class="singleTag" [ngClass]="{active: currentTagName==tag.name}" [nzTitle]="'此标签有'+tag.size+'篇文章'"
                      nzPlacement="topCenter" nz-tooltip>
                  <i nz-icon nzType="tag" nzTheme="fill"></i> {{tag.name}}</span>
      </li>
    </ul>
  </div>

  <ul id="detail" *ngIf="curremtArticlePage">
    <li *ngFor="let article of curremtArticlePage.list">
      <div class="art">
        <h2><a [routerLink]="'/article/'+article.id" class="title">{{article.title}}</a></h2>
        <hr>
        <div> {{article.summary}}</div>
      </div>
    </li>
  </ul>
  <div *ngIf="!curremtArticlePage">
    <h2 style="text-align: center">该分类暂无文章</h2>
  </div>
</div>
